numpy
omegaconf
msgspec
rouge-score
sacrebleu
sentencepiece
tiktoken
blobfile
wandb
viztracer
lm-eval
scipy
nvidia-ml-py
datatrove
orjson
luigi
pydantic
altair
submitit
typer
rich
fsspec[full]
huggingface-hub==0.30.*
torch
# xformers==0.0.23.post1  # Commented out due to build issues on macOS ARM64